body {
  background-color: rgb(241, 255, 241);
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}

.nav-name, .black-headings {
  color: black;
}

.site-button {
  text-decoration: none;
  color: black;
}

.site-button:hover {
  text-decoration: none;
  color: white;
}

.time-dropbox {
  background-color: #5cb85c;
  color: white;
  outline: #5cb85c;
}

.link-text {
  color: red;
}

.link-text:hover {
  color: green;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
