.host-button {
    text-decoration: none;
    color: black;
}

.host-buttons:hover {
    text-decoration: none;
    color: white;
}

.join-game-button {
    text-decoration: none;
    color: black;
}

.join-game-buttons:hover {
    text-decoration: none;
    color: white;
}